body{
	font : 12px/1.4em'PT Sans', Sans-Serif;
	color: #1c1c1c;
	background-color: #d8d8d8;
}

a{
	color:#1D7405;		/* les liens en vert */
}

/* layout */

.wrapper{
	background-color: #fff;
}

/* header */

header{
	background: #fff; /*#1c1c1c; anthracite */
	padding: 15px 20px ; /* haut+bas droite+gauche */
}

/* *CSS 3 pour augmenter la taille du header sous les menus */
header:before,
header:after{
	content:"";
	display:table; /* contenu de haut en bas */
}

header:after{
	clear:both;
}

header{
	zoom:1; /* pour interent explorer 6 et 7 */
}

/* MENU */

#primary_nav ul{
	list-style:  none;
	background: rgba(243,156,18,0.8);
	padding:5px 0; /* haut+bas et droite+gauche*/

}

#primary_nav li a{
	display: block;
	padding: 0 20px; /* haut+bas et droite+gauche*/
	color:#fff;		/*couleur du texte : blanc */
	text-decoration: none; /* pas de soulignement*/
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em; /*espacer les lettres de NAV */
	line-height: 2em;
	height:2em;	/* hauteur du lien pour le clic */
	border-bottom:1px solid #383838;
}

/* inverser la couleur sur survol en ordi (hover) 
et clic en mobile (focus pour le tactile)*/
#primary_nav li a:hover,
#primary_nav li a:focus{
	color:#1c1c1c;
	background: #ccc;
}

/* FOOTER */


/*footer{
	font-family: 'PT Serif', Serif;
	text-align: center;
	font-size: 14px;
}
*/

/* media queries */
/* media qui a au moins 768 px de large 
et seulement les ecrans*/
@media only screen and (min-width: 768px){
	/* le contenant */
	.wrapper{
		position:relative;
		width:768px;
		margin:auto;  /* le centrer car position relative*/
	}

}


